body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E2DE84;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i{
  cursor: pointer;
}


/* a{
  text-decoration: none;
  color: black;
} */

a:hover{
  color: red;
  font-weight: bold;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  scroll-snap-type: x mandatory; 
}

.slide {
  flex: 0 0 50%;
  max-width: 50%;
  scroll-snap-align: start; 
  margin-left: 10px;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.outerContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:10px;
}
.outerContainer a{
  text-decoration: none;
}

.outerContainer a:hover{
  font-weight: normal;

}




.card{
  padding: 30px;
  box-shadow: 10px;
  width: 20rem;
  height: 18rem;
  background-color: #ECFEAA; /* Set a white background for the card */
  border: 2px solid black; /* Add a subtle border around the card */
  border-radius: 5px; /* Apply rounded corners to the card */
  box-shadow: 0 4px 8px #F6FFD7; /* Add a shadow for elevation */
  transition: transform 0.2s; /* Add a transition effect for smooth hover */

}

.card:hover{
  transform: translateY(-5px); /* Apply a translateY transform on hover */

}
.card h1{
  font-size: 30px;
}

.homeh1{
  margin-bottom: 15px;
}

.section_2heading{
  margin: 40px 0 30px 0;
}

.section2_flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.section2_item{
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  height: 10rem;
  width: 20rem;
  transition: transform 0.5s; /* Add a transition effect for smooth hover */

}

.section2_item:hover{
  transform: translateY(-5px);
  background-color: #ffc2cb;
}

.section2_logs_flex{
  display: flex;

}

.section2_logs_flex h6{
  margin-left: 10px;
}



.footer {
  margin-top: 30px;
  background-color: black;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap on smaller screens */
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  flex: 1; /* Occupy 100% of the available space on smaller screens */
  text-align: center;
  margin-bottom: 10px; /* Add some space between logo and info */
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.footer-info, .footer-social {
  flex: 1; /* Equal distribution of space between info and social on smaller screens */
  text-align: center;
  margin-bottom: 20px;
}

.footer-info h3, .footer-social h3 {
  font-size: 18px;
}

.footer-info p, .footer-social p {
  font-size: 14px;
  margin: 5px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 70px;
  height: auto;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack items on smaller screens */
    align-items: center;
  }

  .footer-logo, .footer-info, .footer-social {
    flex: 1; /* Equal distribution of space for all sections */
    text-align: center;
    margin-bottom: 10px;
  }

  .social-icons {
    margin-top: 10px;
  }
}

.serachBar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

}

.serachBar input[type=search] {
  padding: 0.7rem;
  width: 50vw;
  background-color: #D8D8C0;
  border: 2px solid black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  /* background-color: rgb(222, 235, 239); */
  background-color: #D8D8C0;
  border: 2px solid black;
}

.search_btn {
  padding: 0.7rem;
  background-color: #ECFEAA;
}

/* .btn{
  background-color: #ECFEAA;

} */
.search_h2{
  margin-bottom: 0.7rem;
}


.flex-form{
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-btn{
  padding: 10px 20px;
  background-color: #F9D277;
  font-weight: bold;
  border: 4px solid #F5B214;
  border-radius: 20px;
  transition: 0.2s ease-in;
}

.nav-btn:hover{
  background-color: #F5B214;

}

