body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i{
  cursor: pointer;
}


/* a{
  text-decoration: none;
  color: black;
} */

a:hover{
  color: red;
  font-weight: bold;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  scroll-snap-type: x mandatory; 
}

.slide {
  flex: 0 0 50%;
  max-width: 50%;
  scroll-snap-align: start; 
  margin-left: 10px;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.outerContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:10px;
}
.outerContainer a{
  text-decoration: none;
}

.outerContainer a:hover{
  font-weight: normal;

}

.item{

}


.card{
  padding: 30px;
  box-shadow: 10px;
  width: 15rem;
  height: 20rem;
  background-color: #fff; /* Set a white background for the card */
  border: 1px solid #ddd; /* Add a subtle border around the card */
  border-radius: 5px; /* Apply rounded corners to the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for elevation */
  transition: transform 0.2s; /* Add a transition effect for smooth hover */

}

.card:hover{
  transform: translateY(-5px); /* Apply a translateY transform on hover */

}
.card h1{
  font-size: 30px;
}

.homeh1{
  margin-bottom: 15px;
}



